<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../jquery/jquery-2.1.1.min.js"></script>
    <script type="application/javascript">
        $(function () {
            $("#pwd").blur(function(){
                var pwd=$("#pwd").val();
                var password=$("#password").val();
                if (pwd!=password){
                    $("#msg").html("<span style='color: red'>两次密码不相同</span>");
                }else {
                    $("#msg").html("");
                }
            });
        })
    </script>
</head>

<body>
    <h1>找回密码页面</h1>
    <form action="/user/resetPassword" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        新密码：<input type="text" name="password" id="password"><br>
        确认新密码：<input type="text" name="pwd" id="pwd"><span id="msg"></span><br>
        <input type="submit" value="修改">
    </form>
</body>
</html>